.modal.first_modal{
    position: fixed;
    z-index: 1050;
}
.modal.second_modal{
    position: fixed;
    z-index: 1060;
}

.modal.delete-msg{
    position: fixed;
    z-index: 1061;
}

.modal.alert-msg{
    position: fixed;
    z-index: 1070;
    background: rgba(0,0,0,0.5);
}

.hide_column {
    display : none;
}

.modal.first_modal .modal-dialog, .modal.second_modal .modal-dialog {
  position: fixed;
  margin: auto;
  width: 44%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal-dialog {
    margin: 1.75rem auto;
}

@media (min-width: 576px) {
    .first_modal .modal-dialog, .second_modal .modal-dialog {
        max-width: 100%;
    }
}

h3.modal-title{
    height: 48px;
}

.modal.first_modal .modal-content, .modal.second_modal .modal-content {
    height: 100vh !important;
}

.modal.first_modal .modal-body, .modal.second_modal .modal-body {
  padding: 15px 15px 30px;
}

.modal-backdrop {
    opacity: 0.25;
}

.modal.first_modal.fade .modal-dialog, .modal.second_modal.fade .modal-dialog {
  right: -50%;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
       -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.first_modal.fade.show .modal-dialog, .modal.second_modal.fade.show .modal-dialog {
  right: 0;
  box-shadow: 0px 0px 19px rgba(0,0,0,.5);
}

div.modal-content {
    border-radius: 0;
    border: none;

    /*-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);*/
    /*-moz-box-shadow: 0 5px 15px rgba(0,0,0,0);*/
    /*-o-box-shadow: 0 5px 15px rgba(0,0,0,0);*/
    /*box-shadow: 0 5px 15px rgba(0,0,0,0);*/
}

/*.modal-dialog,*/
/*.modal-content {*/
/*    !* 80% of window height *!*/
/*    height: 80%;*/
/*}*/

/*.modal-body {*/
/*    !* 100% = dialog height, 120px = header + footer *!*/
/*    max-height: calc(100% - 120px);*/
/*    overflow-y: scroll;*/
/*}*/

.modal-header.first_modal {
    padding: 10px 15px;
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}
.modal_outer .modal-body {
    /*height:90%;*/
    overflow-y: auto;
    overflow-x: hidden;
    height: 91vh;
}

/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*top: 40px;*/
    right: 0;
    background-color: #f6f6f6;
    min-width: 250px;
    height: 300px;
    overflow: scroll;
    /*border: 1px solid #ddd;*/
    z-index: 1;
    box-shadow: 0 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.25);
}

.dropdown-content a.row {
    padding: 0.3rem;
    padding-left: 15px;
    display: block;
    margin: auto;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}